<section class="features">
    <c-layouts.section-wrapper>
        <h2>Me encataría  aportar a tu proyecto</h2>
        <p>Me encanta crear sitios web y estoy listo para aportar valor a tu proyecto, estas son algunas de las habilidades y herramientas que mas he utilizado en proyectos previos    </p>
        <div class="features__gallery">
            <c-ui.feature-card title="Diseño Responsivo">

            </c-ui.feature-card>
            <c-ui.feature-card title="Logica de Programacion">

            </c-ui.feature-card>
            <c-ui.feature-card title="Despliegue a Produccion">

            </c-ui.feature-card>
        </div>
    </c-layouts.section-wrapper>
</section>