{% load static %}
<section class="px-4 md:px-6 lg:px-8 bg-gradient-to-br text-white from-[#002861] to-[hsl(215,100%,35%)] relative h-[clamp(600px,80vw,min(90vh,800px))] " 
    id="hero">
    <div class="absolute top-0 left-0 w-full h-full bars"></div>

    <div class="max-w-7xl h-full mx-auto">

        <!-- wave and background wave -->
        <div id="hero-background-same-as-wave"
            class="bg-gradient-to-r  from-[hsl(202,30%,50%)] to-[#84bfe1] absolute left-0 w-1/2 h-full 
            z-0 hidden lg:block"></div>
        <svg
            class="absolute hidden lg:block inset-0 mx-auto z-10 translate-x-[45%] top-0 h-full"
            viewBox="0 0 320 1440">
            <path
                fill="#84bfe1"
                fill-opacity="1"
                d="m 224,0 -5.3,21.8 C 213,43.6 203,87 197.3,131 192,174.5 192,218 192,262 c 0,43.5 0,87 5.3,131 5.7,43.4 15.7,87 -5.3,131 -21,43.3 -75,87 -101.3,131 -26.7,43.2 -26.7,87 0,130 26.3,44.1 80.3,88 69.3,131 -11,44 -85,88 -112,131 -27,43.9 -5,88 32,131 37,43.8 91,87 101.3,131 10.7,43.7 -21.3,87 -37.3,109 l -16,22 H 0 v -21.8 C 0,1396.4 0,1353 0,1309 0,1265.5 0,1222 0,1178 0,1134.5 0,1091 0,1047 0,1003.6 0,960 0,916 0,872.7 0,829 0,785 0,741.8 0,698 0,655 0,610.9 0,567 0,524 0,480 0,436 0,393 0,349.1 0,305 0,262 0,218.2 0,175 0,131 0,87.3 0,44 0,22 V 0 Z"
                id="path1" />
        </svg>

        <svg
            class="absolute hidden lg:block inset-0 mx-auto z-0 translate-x-[50%] top-0 h-full "
            viewBox="0 0 320 1440">
            <path
                fill="#fff"
                fill-opacity="1"
                d="m 224,0 -5.3,21.8 C 213,43.6 203,87 197.3,131 192,174.5 192,218 192,262 c 0,43.5 0,87 5.3,131 5.7,43.4 15.7,87 -5.3,131 -21,43.3 -75,87 -101.3,131 -26.7,43.2 -26.7,87 0,130 26.3,44.1 80.3,88 69.3,131 -11,44 -85,88 -112,131 -27,43.9 -5,88 32,131 37,43.8 91,87 101.3,131 10.7,43.7 -21.3,87 -37.3,109 l -16,22 H 0 v -21.8 C 0,1396.4 0,1353 0,1309 0,1265.5 0,1222 0,1178 0,1134.5 0,1091 0,1047 0,1003.6 0,960 0,916 0,872.7 0,829 0,785 0,741.8 0,698 0,655 0,610.9 0,567 0,524 0,480 0,436 0,393 0,349.1 0,305 0,262 0,218.2 0,175 0,131 0,87.3 0,44 0,22 V 0 Z"
                id="path1" />
        </svg>

        <!-- tooltips -->
        <div id="tooltips-container"
            class="absolute left-0 right-0 mx-auto bottom-0 
            md:left-auto md:m-0 md:right-8 xl:right-32 w-2/5  min-w-72 h-2/3 md:h-2/3 lg:h-5/6">
            
            <c-ui.hero-tooltip 
                message="Mi lengua nativa es el español. Vivo en Brasil, así que hablo portugués y, gracias a la web, sé algo de inglés."
                str_position="to-left"
                extra_class="top-1/2 left-1/2 lg:translate-y-20">
                <c-slot name="slot_svg_path">
                    <path stroke-linecap="round" stroke="black" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                </c-slot >
                <c-slot name="slot_title_spans">
                    <span class="hidden sm:block md:hidden lg:block">Múltiples</span>
                    <span>Idiomas</span>
                </c-slot >
            </c-ui.hero-tooltip >

            <c-ui.hero-tooltip 
                message="Me encanta el desarrollo web. Imprimo esa pasión en todas las etapas del desarrollo, hasta llevar los requerimientos del producto a producción."
                str_position="to-right-md-left"
                extra_class="top-1/3 left-0 antialiased
                    sm:-left-12 
                    lg:left-0
                    lg:translate-y-16
                    2xl:left-[10%]">
                <c-slot name="slot_svg_path">
                    <path stroke-linecap="round" stroke="black" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                </c-slot >
                <c-slot name="slot_title_spans">
                    <span>Pasión</span>
                </c-slot >
            </c-ui.hero-tooltip >

            <c-ui.hero-tooltip 
                message="Cubro todos los aspectos del desarrollo web, desde el diseño, pasando por la gestión de hosting y dominio, así como los aspectos técnicos de programación."
                str_position="to-left"
                extra_class=" top-0 right-0 
                sm:-top-8 sm:-right-32 
                md:-right-4
                lg:top-0
                2xl:right-[5%]">
                <c-slot name="slot_svg_path">
                    <path stroke="black" stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 0 1 3 19.875v-6.75ZM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V8.625ZM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V4.125Z" />
                </c-slot >
                <c-slot name="slot_title_spans">
                    <span class="hidden sm:block md:hidden lg:block">Desarrollo</span>
                    <span>Fullstack</span>
                </c-slot >
            </c-ui.hero-tooltip > 
        </div>

        <!-- my photo -->
        <figure class="z-10 absolute left-0 right-0 mx-auto bottom-0 md:left-auto md:m-0 md:right-8 xl:right-32 w-2/5  min-w-72 h-[75vh] ">
            <img src="{% static 'core/images/me_profile.png' %}" alt="keiner mendoza"
            class="w-full h-full object-contain object-bottom">
        </figure>

        <!-- text and call to action section -->
        <article 
            class="relative z-10 pt-10 md:pt-20 h-full flex flex-col md:block justify-start items-center text-center md:text-left lg:text-darkblue-card-gradient">
            <h2 class="text-2xl md:text-3xl xl:text-4xl mb-5">Keiner Mendoza</h2>
            <h1 class="text-3xl sm:text-4xl md:text-5xl xl:text-6xl mb-8 flex flex-wrap justify-center md:block">
                <span class="whitespace-pre">Desarrollador </span>
                <span>Web</span>
            </h1>

            <div class="relative z-20 grow flex flex-col items-center justify-end md:block">
                <div class="hidden md:block xl:text-xl max-w-sm lg:max-w-md xl:max-w-lg">
                    <p class="mb-4 ">
                        Creo páginas web personalizadas para empresas, personas o eventos. Tendrás un sitio donde publicar lo que quieras con libertad y estilo.
                    </p>
                    <p>
                        También estoy abierto a trabajar en equipo a tiempo parcial o completo.
                    </p>
                </div>

                <c-ui.secondary_btn extra_class="hidden md:flex" href="#contacto" >
                    <svg class="w-9 h-9" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke="white" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                    </svg>
                    <span class="text-2xl">Eviar Email</span>
                </c-ui.secondary_btn>
                
                <c-ui.whatsapp_btn 
                    margin=True 
                    animate=True 
                    message="Hola, acabo de ver tu sitio web y me gustaría contratar tus servicios ¿puedes darme más información?">
                    Contactame
                </c-ui.whatsapp_btn>
            </div>
        </article>
    </div>
</section>