{% load static %}
<section id="testimonials" class="testimonials">
    <c-layouts.section-wrapper>
        <h2 class="h2 title">Lo que opinan los clientes</h2>
        <div class="testimonials-grid">
            <c-ui.testimonial-card
                name="Magdiele Lolimar"
                image="{% static 'core/images/magdiele.jpg' %}">
                Estoy sumamente complacida con el resultado final, le he recomendado el trabajo a algunas de mis amigas.
            </c-ui.testimonial-card>

            <c-ui.testimonial-card
                name="Christian Henrique"
                image="{% static 'core/images/christian.jpg' %}">
                Quedamos bastante complacidos con el resultado final. Muy atento a los detalles. Sin duda alguna seguiremos requiriendo de sus servicios. Excelente trabajo.
            </c-ui.testimonial-card>
        </div>
    </c-layouts.section-wrapper>
</section >
