{% load static i18n %}
<title>Keiner Mendoza</title>
<meta name="title" content="{% translate "I'm" %} Keiner Mendoza, {% translate "The full stack developer you're looking for" %}">
<meta name="description" content="{% translate 'I develop websites and applications focused on data management. I use my programming skills to create customized and visually appealing solutions, always focused on addressing the needs of each project.' %}">

<meta property="og:image" content="{% static 'core/images/preview-site.jpg' %}" />
<meta property="og:title" content="{% translate "I'm" %} Keiner Mendoza, {% translate "The full stack developer you're looking for" %}">
<meta property="og:description" content="{% translate 'I develop websites and applications focused on data management. I use my programming skills to create customized and visually appealing solutions, always focused on addressing the needs of each project.' %}">
<meta property="og:site_name" content="keiner-mendoza-web-developer">
<meta property="og:type" content="website">
<meta property="og:url" content="https://keinermendoza.com/">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://keinermendoza.com/">
<meta property="twitter:title" content="{% translate "I'm" %} Keiner Mendoza, {% translate "The full stack developer you're looking for" %}">
<meta property="twitter:description" content="{% translate 'I develop websites and applications focused on data management. I use my programming skills to create customized and visually appealing solutions, always focused on addressing the needs of each project.' %}">
<meta property="twitter:image" content="{% static 'core/images/preview-site.jpg' %}">


