{% extends "core/base.html" %}
{% load static %}
{% block title %}Blog{% endblock title %}

{% block script %}
<script src="{% static 'js/blog.js' %}"></script>
{% endblock script %}

{% block main %}
<section class="bg-custom-gray grow py-10 p-4 md:p-6 lg:p-8" >
    <div class="max-w-7xl h-full mx-auto ">
        <div class="text-center py-10">
            <h2 class="text-4xl">Todas las publicaciones</h2>
        </div>
        <c-layouts.blog.filter-form :filter="filter" />
        <c-layouts.blog.paginated-list 
            :page_obj="page_obj"
            :elided_page_range="elided_page_range"
            :paginator="paginator"
            :posts="posts" 
        />
    </div>
</section>

{% endblock main %}