.env
.env.dev
.env.prod
.env.database
__pycache__
db.sqlite
dev_homesite_db
assets/tailwind/output.css
node_modules
!project/staticfiles/css
project/staticfiles/js/
media
_scripts/
_backups/
.venv
venv
venv-prod
venv_prod


notes.md
venv_prod
vlite