{% load static i18n %}

<section id="contacto" class="overflow-hidden relative px-4 md:px-6 lg:px-8 ">
    <img class="absolute bottom-0 left-0 w-screen min-h-20 object-cover z-0" src="{% static 'icons/many_buildings.svg' %}" alt="">
    <img class="absolute bottom-2 -right-30 opacity-40 w-screen min-h-16 object-cover z-0" src="{% static 'icons/many_buildings.svg' %}" alt="">

    <div class="relative max-w-7xl mx-auto flex flex-col lg:flex-row gap-10 items-center lg:items-start justify-between py-10">
        
        <article class="max-w-lg text-center md:text-left">
            <div class="pb-5 md:pb-10">
                <h2 class="text-4xl ">{% trans "Contact" %}</h2>
            </div>
            <div class="flex flex-col gap-6">
                <p class="text-xl">
                    {% trans "You can message me directly on WhatsApp. I will personally attend to you." %}
                    {% comment %} Puedes escribir directamente a mi whatsapp. Yo mismo te atenderé. {% endcomment %}
                </p>

                <div class="mx-auto lg:ml-0">
                    <c-ui.whatsapp-btn 
                        message="Hola, acabo de ver tu sitio web y me gustaría contratar tus servicios ¿puedes darme más información?">
                        Contactame
                    </c-ui.whatsapp-btn>
                </div>

                <p class="text-xl">También puedes usar este formulario para enviarme un mensaje por correo.</p>
                
                <p class="text-lg">
                    Recibirás una respuesta 
                    automática y proximamente responderé
                    personalmente al correo que hayas
                    proporcionado
                </p>

            </div>
        </article>
        <c-layouts.contact-form />
    </div>
</section>