{% load i18n %}

<section id="contact" class="contact">
    <svg class="background-blob" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#fff" fill-opacity="1" d="M0,64L30,58.7C60,53,120,43,180,48C240,53,300,75,360,80C420,85,480,75,540,96C600,117,660,171,720,181.3C780,192,840,160,900,160C960,160,1020,192,1080,197.3C1140,203,1200,181,1260,186.7C1320,192,1380,224,1410,240L1440,256L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z"></path>
    </svg>

    <c-layouts.section-wrapper>
        <div class="contact__header">
            <h2 class="h2 title">{% trans "Contact" %}</h2>
            <p>{% trans "You can message me on WhatsApp, but if you prefer not to use that method, you can also contact me through the contact form in this section." %}
                {% comment %} Puedes escribirme por Whatsapp, pero si prefieres no usar ese medio tambien puedes contactarme el formulario de contacto en esta seccino  {% endcomment %}
                {% comment %} Você pode me escrever pelo WhatsApp, mas se preferir não usar esse meio, você também pode me contatar pelo formulário de contato nesta seção. {% endcomment %}
            </p>
        </div>

        <div class="contact__main">
            <c-forms.contact-form />
            <div class="contact__other">
                <div class="contact__other__email">
                    <p>{% trans "If you prefer, you can write to me directly at my email." %}
                        {% comment %} Si lo prefieres puedes escribirme directamente a mi email  {% endcomment %}
                        {% comment %} Se preferir, você pode me escrever diretamente no meu e-mail. {% endcomment %}
                    </p>
                    <p class="my-email">keinermendoza@gmail.com</p>
                </div>

                <div class="contact__other__whatsapp">
                    <p>
                        {% trans "I prefer contact through WhatsApp." %}
                        {% comment %} Yo prefiero el contacto por medio de whatsapp. {% endcomment %}
                        {% comment %} Eu prefiro o contato por meio do WhatsApp. {% endcomment %}
                    </p>

                    <c-ui.whatsapp_button 
                        text="{% trans "Start conversation" %}" 
                        initial_message="{% trans "Hi, I found your website and I'm interested in your web development services." %}" />
                        
                </div>
            </div>
        </div>

    </c-layouts.section-wrapper>
</section>
    