{% load static  %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Keiner Mendoza - {% block title %}{% endblock title %}</title>

    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <link rel="canonical" href="https://keinermendoza.com/">
    <meta name="title" content="Keiner Mendoza. Desarrollador Web">
    <meta name="description" content="Keiner Mendoza es un desarrollador web fullstack, cubriendo todo el proceso de creación de sitios web de principio a fin, desde la creación del diseño hasta la implementación de la lógica de programación y la puesta en línea del sitio.">
    
    <meta property="og:title" content="Keiner Mendoza. Desarrollador Web">
    <meta property="og:description" content="Keiner Mendoza es un desarrollador web fullstack, cubriendo todo el proceso de creación de sitios web de principio a fin, desde la creación del diseño hasta la implementación de la lógica de programación y la puesta en línea del sitio.">
    
    <meta property="og:site_name" content="keiner-mendoza-web-developer">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://keinermendoza.com/">
    
    

    <meta charset="UTF-8">
    <meta name="author" description="keiner mendoza" >
    <meta property="og:image" content="" />

    
    
    <!-- Twitter -->
    <meta name="twitter:title" content="Keiner Mendoza es un desarrollador web fullstack, cubriendo todo el proceso de creación de sitios web de principio a fin, desde la creación del diseño hasta la implementación de la lógica de programación y la puesta en línea del sitio." />
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://keinermendoza.com/">
    <meta property="twitter:title" content="Keiner Mendoza. Desarrollador Web.">
    <meta property="twitter:description" content="Keiner Mendoza es un desarrollador web fullstack, cubriendo todo el proceso de creación de sitios web de principio a fin, desde la creación del diseño hasta la implementación de la lógica de programación y la puesta en línea del sitio.">
    <meta property="twitter:image" content="https://objectstorage.us-ashburn-1.oraclecloud.com/n/id8ztu6vhbyl/b/public-keiner-homesite/o/my-site-hero.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    
     <link rel="icon" type="image/png" sizes="192x192" href="{% static 'android-chrome-192x192.png' %}">
     <link rel="icon" type="image/png" sizes="512x512" href="{% static 'android-chrome-512x512.png' %}">

    <link rel="icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon" />
    <link rel="manifest" href="{% static 'icons/site.webmanifest' %}" />
    
    <script src="{% static 'js/vendor.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">

</head>
<body class="purple">
    <c-ui.toast/>
    {{ slot }}
</body>
</html>