{% load wagtailcore_tags %}

<c-base>
    <c-layouts.section-wrapper extra_class="max-w-md">

    <c-ui.breadcrumb current_href="#{{ page.slug }}" :current_text="page.title" />

    <h1 id="{{ page.slug }}">{{ page.title }}</h1>
    <article class="blog-post">

    {{ page.intro|richtext }}
    </article>    

    
    
    <ul class="post-card-list">
        <h2 class="post-card-list__title">Entradas</h2>
    
        {% for post in posts %}
        <li class="post-card">
            <a href="{{ post.url }}">
                <h3 class="post-card__title">{{post.title}}</h3>
                <p class="post-card__excerpt">{{post.excerpt}}</p>
                <p class="post-card__date" >{{ post.date }}</p>
            </a>
        </li>
        {% endfor %}
    </ul>





    </c-layouts.section-wrapper>

</c-base>

