{% load wagtailcore_tags %}

<c-base>
    <c-layouts.section-wrapper extra_class="max-w-md">
    <c-ui.breadcrumb 
        parent_1
        parent_1_href="/blog"
        parent_1_text="Blog" 
        current_href="#{{ page.slug }}" 
        :current_text="page.title" />
        
        <article class="blog-post">
        <header>
            <h1 id="{{ page.slug }}">{{ page.title }}</h1>
            <p class="post-meta">
                Publicado el {{ page.date|date:"d M Y" }}
            </p>
        </header>

        <div class="post-content">
            {{ page.body|richtext }}
        </div>

        {% with tags=page.tags.all %}
        {% if tags %}
        <footer>
            <p>Etiquetas: 
                {% for tag in tags %}
                    <span class="tag">{{ tag }}</span>
                {% endfor %}
            </p>
        </footer>
        {% endif %}
        {% endwith %}

    </article>
    </c-layouts.section-wrapper>
</c-base>


    