<div  
    data-tooltip="{{message}}" 
    data-preference="{{str_position}}"
    x-data="{animate: false}"
    x-init="setTimeout(() => {animate=true}, 1000)"
    x-cloak
    x-show="animate"
    x-bind:class="animate && 'appears-300'"
    class="tooltip-hero-basic-style {{extra_class}}">
    <svg 
        class="rounded-full outline outline-2 outline-black outline-offset-4
        w-4 h-4 sm:w-6 sm:h-6" 
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        {{slot_svg_path}}
    </svg>
    <p class="text-black flex gap-1">{{slot_title_spans}}</p>
</div>
