
<article
    id="{{id}}"
    x-cloak
    x-show="activeSec == '{{id}}'"
    x-transition.duration.300ms

>
    <h3 class="text-5xl mb-5">{{title}}</h3>
    <p class="p-4 rounded-md mb-5 bg-white bg-opacity-10 text-xl">
        {{description}}
    </p>
    <p class="mb-5 p-4 rounded-md bg-white bg-opacity-10 text-xl">
        Incluye los siguientes servicios
    </p>
    <div class="flex flex-col md:flex-row gap-5 justify-between ">
        <div class="flex flex-col gap-3">
            {% for feature in features  %}
            <div class="text-xl flex items-center gap-2">
                <svg class="shrink-0" width="24" height="24" viewBox="0 0 34 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_358_386)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17 34.5C26.3891 34.5 34 26.8891 34 17.5C34 8.1109 26.3891 0.5 17 0.5C7.6109 0.5 0 8.1109 0 17.5C0 26.8891 7.6109 34.5 17 34.5ZM13.821 20.56H16.15C16.5512 20.56 16.7518 20.56 16.8759 20.6841C17 20.8082 17 21.0088 17 21.41V28.941C17 30.454 17 31.2122 17.3332 31.287C17.6681 31.3584 17.9843 30.6716 18.6218 29.298L23.2645 19.268C24.2709 17.0954 24.7741 16.0091 24.2726 15.2254C23.7711 14.44 22.5726 14.44 20.179 14.44H17.85C17.4488 14.44 17.2482 14.44 17.1241 14.3159C17 14.1918 17 13.9912 17 13.59V6.059C17 4.546 17 3.7878 16.6668 3.713C16.3319 3.6416 16.0157 4.3284 15.3782 5.702L10.7355 15.732C9.7291 17.9046 9.2259 18.9909 9.7274 19.7746C10.2289 20.56 11.4274 20.56 13.821 20.56Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_358_386">
                    <rect width="34" height="34" fill="white" transform="translate(0 0.5)"/>
                    </clipPath>
                    </defs>
                </svg>
                <span>{{feature}}</span>
            </div>
            {% endfor %}
        </div>
        <div class="flex flex-col gap-5 justify-end items-end w-fit max-w-lg">
            <p class="p-4 rounded-md bg-white bg-opacity-10 text-sm">
                {{aclarations}}
            </p>
            {{ slot_actions}}
        </div>
    </div>
</article>