@use './variables' as *;
@use "sass:color";

.flex-between {
    @include flex-row-between;
    line-height: 1;
}
.icon {

}
.mini-icon {
    height: 0.875rem;
}
.nav-item {

}
.nav-link {

}

.underline-effect {
    position: relative;

    &::after  {
        content: '';
        position: absolute;
        bottom: -.5rem;
        left: 0;
        width: 100%;
        height: 1px;
    
        transform: scaleX(0);
        transform-origin: center;
        background-color: $clr-white;
        transition: transform 250ms;
    }
    
    &:hover:after {
        transform: scaleX(1);
    }
}
    


a.disabled {
    opacity: 0.5;
    pointer-events: none
}

.button {
    @include button;
}
.h2 {
    font-weight: $fw-700;
    font-size: $fs-h2-mobile;
    line-height: 1.2;
    @media (min-width:$break-md) {
        font-size: $fs-h2-desktop;
    }
}
.primary-button {
    @include button;
    background-color: $clr-primary;
    color: $clr-black;
    &:hover {
        // background-color:color.adjust($clr-primary, $lightness: 15%, $space: hsl);
        background-color:$clr-secondary;
    }
}

.secondary-button {
    @include button;
    background-color: $clr-black;
    border: 2px solid $clr-white;
    color: $clr-white;
    &:hover {
        background-color:$clr-secondary;
        background-color:color.adjust($clr-black, $lightness: 20%, $space: hsl);
    }
}
.section-wrapper {
    width: min(100%, $break-lg);
    margin-inline: auto;
    padding-inline: $inline-padding-mobile;
    padding-block: $block-padding-desktop;
}